/* body{
    background-image: url("./home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.homepage-msg {
    font-size: 30px;
    position: fixed;
    left: 10vw;
    top: 30vh;
}   

.skip-text {
    font-size: 15px;
    position: fixed;
    left: 16vw;
    top: 49vh;
    text-decoration: underline;
}

