/* 
body{
    background-image: url("./home.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} */

.homepage-msg {
    font-size: 30px;
    position: relative;
    left: -400px;
    top: 100px;
}   

.skip-text {
    font-size: 15px;
    position: relative;
    left: -400px;
    top: 100px;
    text-decoration: underline;
}

