.no-scroll {
  margin: 0;
  height: 100%; 
  overflow: hidden}




h1 {
  z-index: 1;
}

h4 {
  z-index: 1;
  margin-top: 0;
}

p {
  z-index: 1;
  margin-top: 0;
}



.bg {
    position: fixed; 
    top: -50%; 
    left: -50%; 
    width: 200%; 
    height: 200%;
    
    
  }

  .bg img {
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0; 
    margin: auto; 
    min-width: 50%;
    min-height: 50%;
  }
