.Answers{
    font-size: 20px;
     padding-top: 10px;
     padding-bottom: 10px;
     margin-left: 20px;
     text-align: left;
     font-weight: 50;
 }
 .Answers li{
     background: white;
     border: none;
     margin-right: 50px;
     margin-top: 20px;
     border: 2px solid black;
     border-radius: 20px;
     padding-top:0;
     cursor: pointer;
     padding: 30px 16px;
     text-align: center;
     line-height: 0px;
     font-size: 25px;
     display: block;
     width: 800px;
     height: 20px;
     text-align: center;
 
 }
 .Answers li:hover{
     cursor: pointer;
     background-color: #E5E5E5;
 }
 .Answers .correct,
 .Answers .correct:hover {
     background-color: #1db900;
     border-left: 4px solid #0f6300;
     color: #fff;
 }
 .Answers .incorrect,
 .Answers .incorrect:hover {
     background-color: #ec0000;
     border-left: 4px solid #FF3B3B;
     color: #fff;
 }
 .Answers[disabled] {
     pointer-events: none;
     opacity: 0.7;
 }
 .answer-output {
     padding-bottom: 10px;
 }